body {
    height: 100vh;
    width: 100vw;
    background-image: url(/static/img/paul-hanaoka-s0XabTAKvak-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
}


h1 {
    font-family: 'Poppins', sans-serif;
    color: #eee;
    text-align: center;
    letter-spacing: 10px;
    font-size: 5rem;
    margin-top: 12rem;
}

.home .form-control {
    border: none;
    background-color: #eee;
    margin: 0 auto;
    margin-top: 5rem;
    width: 35em;
}
.home .form-control:focus, .form-control:enabled, .form-control:autofill {
    background-color: #ddd;
}

.home .btn {
    margin: 0 auto;
    background-color: #053663;
    color: #ddd;
}
.home .btn:hover {
    background-color: #ddd;
    color: #333;
}

#simpleEmailCheck {
    text-align: center;
}


/* Register */

#register-heading {
    margin-top: 3rem;
}

.register-text {
    color: #ddd;
    text-align: center;
}

.btn {
    margin: 1.5rem;
    border: none;
    background-color: #053663;
    color: #ddd;
}
.btn:hover {
    background-color: #ddd;
    color: #333;
}


/* Login */
.login-div {
    width: 30rem;
    margin: 0 auto;
    color: #ddd;
}

.login-text {
    color: #ddd;
    text-align: center;
}

/* Flash Messages */
.flash-messages {
    position: fixed;
    width: 60rem;
    top: 4rem;
    left: calc(50% - 30rem);
}


@media (max-width: 660px){
    .navbar-brand {
        visibility: hidden;
    }
    .navbar-brand:before {
        visibility: visible;
        content: 'IV';
    }

    h1 {
        letter-spacing: 10px;
        font-size: 3rem;
        margin-top: 9rem;
    }

    .home .form-control {
        width: 80%;
    }

    #main {
        margin-top: 2rem;
    }
    #register-heading {
        font-size: 2rem;
    }

    .register-text, .login-text {
        font-size: 1rem;
    }

    .login-div {
        width: 80%;
    }
    .login-div input {
        height: 1.8rem;
    }



}