{% extends 'base.html' %}
{% block file %}/static/css/index.css{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}

    <h1>Login</h1>
    <p class="lead text-muted login-text">Login in below or register <a href="/register">HERE</a></p>

    <form method="POST">
        {{form.hidden_tag()}}

        {% for field in form if field.widget.input_type != 'hidden': %}
        <div class="form-group login-div">
            {{field.label}}
            {{field(class_="form-control")}}
            
            <span class="form-text text-danger">
                {% for error in field.errors %}
                {{error}}
                {% endfor %}
            </span>

        </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary">Login</button>
        </div>
    </form>

{% endblock %}