{% extends 'base.html' %}

{% block title %}Passwords{% endblock %}

{% block content %}

<h2 class="mt-5">Adding New Passwords</h2>
<form action="/users/{{user.username}}/passwords" method="POST">
    <div class="form-group">
        <label for="password">Enter Password</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="Password">
        <small class="form-text text-muted">Password will be saved, and can be checked whenever you would like.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2 class="mt-5">Password Saved</h2>
<div class="container">
    <ul id="passwordUl" class="list-group list-group-flush">
    {% for password in user.vulnpassword: %}
    <li class="list-group-item d-flex justify-content-around">
        <div>
            {{password.password}}
        </div>
        <div id="passVuln">
            {% if password.vulnerable == 'true': %}
                <p class="text-danger">Password is <strong>NOT</strong> secure</p>
            {% elif password.vulnerable == 'false': %}
                <p class="text-success">Password is secure</p>
            {% else: %}
                <p>{{password.vulnerable}}</p>
            {% endif %}
        </div>
        <div>
            <button id="passwordButton" class="btn btn-warning" data-password="{{password.id}}">Check Password</button>
            <form action="/passwords/{{password.id}}/delete" method="POST" class="d-inline">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </li>
    {% endfor %}
    </ul>
</div>

<div id="passwordInfo"></div>

<script src="/static/javascript/helpers.js"></script>
<script src="/static/javascript/password.js"></script>

{% endblock %}